html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

header {
  margin: 0 0 16px 0;
  padding: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}
header div {
  word-break: break-all;
  flex:1;
  margin-block: auto;
}
header div#main-title {
  word-break: break-word;
  flex:2
}
header h1 {
  margin: 6px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.6;
  /* This, for some reason, makes the whole thing overflow */
  /*padding: 20px;*/
}
footer p {
  margin: 10px;
}

/* Button style */
button.ripple {
  border: none;
  border-radius: 300px;
  padding: 18px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

button.ripple:disabled {
  background: #888 !important ;
  cursor: default;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.7s;
}

.ripple:hover {
  background: #8d5abd radial-gradient(circle, transparent 1%, #8d5abd 1%) center/15000%;
}

.ripple:active {
  background-color: #8491ff;
  background-size: 100%;
  transition: background 0s;
}

.hidden {
  display: none;
}

form label {
  display: inline;
  margin-bottom: 8px;
}
form div {
  margin-bottom: 10px;
}


/* ===== Animations ===== */
@keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

.fade-out {
  animation: fadeOut 5s forwards;
}

/* ===== Individual items ===== */
#main-text {
  font-size: 120%;
}
#result-text {
  font-size: 180%;
  margin-top: 16px;
}
#result-image {
  width: 500px;
  max-width: 100%;
}
#roll-notes {
  font-size: 90%;
  opacity: 0.5;
}
#btn-roll {
  font-size: 150%;
  position: absolute;
  /*  center bottom */
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  color: white;
  background: linear-gradient(45deg, #7a4da2, #575faa);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
#btn-roll:focus {
  border: #fff solid 1px;
}

/* Dark mode stuff */
@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background-color: #fff;
  }

  p code {
    background-color: #ececec;
  }

  .highlight {
    border-color: #ccc;
  }

}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #222;
  }

  a {
    color: #00fff7;
  }

  p code {
    background-color: #3b3b3b;
  }

  .highlight {
    border-color: #111;
  }
}