html {
  padding: 18px;
}

body {
  margin: auto;
  max-width: 1200px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

/* Button style */
button.ripple {
  border: none;
  border-radius: 300px;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background: linear-gradient(45deg, #7a4da2, #575faa);
  box-shadow: 0 0 5px rgba(255,255,255, 0.5);
  outline: none;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.7s;
}
.ripple:hover {
  background: #8d5abd radial-gradient(circle, transparent 1%, #8d5abd 1%) center/15000%;
}
.ripple:active {
  background-color: #8491ff;
  background-size: 100%;
  transition: background 0s;
}

/* Dark mode stuff */
@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background-color: #fff;
  }

  p code {
    background-color: #ececec;
  }

  .highlight {
    border-color: #ccc;
  }

}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #222;
  }

  a {
    color: #00fff7;
  }

  p code {
    background-color: #3b3b3b;
  }

  .highlight {
    border-color: #111;
  }
}